<!DOCTYPE html>
<html lang="id">
  {{> head}}
  <body>
    {{> header}}

    <div class="container">
      <div class="about-section">
        <div class="profile-header">
          <div class="profile-banner">
            <img src="/img/fotoSaya.png" alt="Foto Muhammad Ghazian Tza" />
          </div>
          <div class="profile-name">{{nama}}</div>
          <div class="profile-title">Self-taught Artist and Programmer</div>
        </div>

        <div class="profile-bio">
          <p>
            Seorang pelajar dari Indonesia yang telah berkecimpung di dunia industri kreatif selama
            bertahun-tahun. Dengan pengalaman selama 12 tahun di Adobe Photoshop, 8 Tahun di After
            Effects, 5 tahun di Illustrator untuk pembuatan logo, dan 3 tahun dalam 3D menggunakan
            Blender3D. Untuk saat ini, sedang mendalami skill baru dari dunia pemrograman dengan
            kemampuan dasar dalam bahasa seperti C, C++, Javascript/Typescript, Dart, dan Kotlin.
          </p>

          <p>
            Saya percaya setiap aplikasi web harus dirancang dengan memperhatikan pengalaman
            pengguna, performa, dan aksesibilitas. Jika Anda ingin bertanya atau berkolaborasi,
            silakan hubungi saya.
          </p>
        </div>

        <div class="profile-section">
          <h3>Keahlian</h3>
          <div class="skills">
            <div class="skill-tag">3D Artist</div>
            <div class="skill-tag">2D Concept Artist</div>
            <div class="skill-tag">3D Artist</div>
            <div class="skill-tag">Programmer</div>
          </div>
        </div>

        <div class="profile-section contact-info">
          <h3>Hubungi Saya</h3>
          <p>📧 IG: @ghaziantza</p>
        </div>
      </div>
    </div>

    {{> footer}}
  </body>
</html>
