<header>
  <div class="header-container">
    <div class="logo">
      <img src="/img/cuacaIcon.png" alt="Logo Cek Cuaca" class="logo-img">
      <span>Cek Cuaca</span>
    </div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/tentang">Tentang</a></li>
        <li><a href="/berita">Berita</a></li>
        <li><a href="/bantuan">Bantuan</a></li>
      </ul>
    </nav>
  </div>
</header>
